<?xml version="1.0" ?>

<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd" >
	<system>
		<tab id="jetrails_tab" translate="label" sortOrder="0" >
			<label>JetRails</label>
		</tab>
		<section
			id="jetrails_varnish"
			translate="label"
			type="text"
			sortOrder="100"
			showInDefault="1"
			showInWebsite="1"
			showInStore="1" >
			<label>Varnish Cache</label>
			<tab>jetrails_tab</tab>
			<resource>JetRails_Varnish::config</resource>
			<group
				id="general_configuration"
				translate="label"
				type="text"
				sortOrder="10"
				showInDefault="1"
				showInWebsite="1"
				showInStore="1" >
				<label>General Configuration</label>
				<attribute type="expanded" >1</attribute>
				<field
					id="debug"
					translate="label"
					type="select"
					sortOrder="10"
					showInDefault="1"
					showInWebsite="1"
					showInStore="1" >
					<label>Debug Mode</label>
					<source_model>JetRails\Varnish\Model\Adminhtml\Config\Options\EnableDisable</source_model>
					<comment>Response headers will say if there was a hit or miss in varnish cache</comment>
				</field>
				<field
					id="backend"
					translate="label"
					type="text"
					sortOrder="20"
					showInDefault="1"
					showInWebsite="1"
					showInStore="1" >
					<label>Backend Server</label>
					<comment><![CDATA[
						Used strictly for VCL file generation, should be in the form of
						<b>HOST</b>:<b>PORT</b>
						<br>e.g. 127.0.0.1:8080
					]]></comment>
				</field>
				<field
					id="servers"
					translate="label"
					type="textarea"
					sortOrder="30"
					showInDefault="1"
					showInWebsite="1"
					showInStore="1" >
					<label>Varnish Servers</label>
					<comment><![CDATA[
						New line separated values in form of
						<b>HOST</b>:<b>PORT</b>
						<br>e.g. 127.0.0.1:80
					]]></comment>
				</field>
				<field
					id="export"
					translate="label"
					type="button"
					sortOrder="40"
					showInDefault="1"
					showInWebsite="1"
					showInStore="1" >
					<label>Export Configuration</label>
					<frontend_model>JetRails\Varnish\Block\Adminhtml\System\Config\Form\Export</frontend_model>
				</field>
				<field
					id="link"
					translate="label"
					type="button"
					sortOrder="50"
					showInDefault="1"
					showInWebsite="1"
					showInStore="1" >
					<label>Link To Purge Varnish Cache</label>
					<frontend_model>JetRails\Varnish\Block\Adminhtml\System\Config\Form\Link</frontend_model>
				</field>
			</group>
			<group
				id="automatic_cache_purge"
				translate="label"
				type="text"
				sortOrder="20"
				showInDefault="1"
				showInWebsite="1"
				showInStore="1" >
				<label>Automatic Cache Purge</label>
				<attribute type="expanded" >1</attribute>
				<field
					id="product_save"
					translate="label"
					type="select"
					sortOrder="10"
					showInDefault="1"
					showInWebsite="1"
					showInStore="1" >
					<label>Product Save</label>
					<source_model>JetRails\Varnish\Model\Adminhtml\Config\Options\YesNo</source_model>
					<comment>Automatically purge cache for product url whenever product is saved.</comment>
				</field>
				<field
					id="cms_page_save"
					translate="label"
					type="select"
					sortOrder="20"
					showInDefault="1"
					showInWebsite="1"
					showInStore="1" >
					<label>CMS Page Save</label>
					<source_model>JetRails\Varnish\Model\Adminhtml\Config\Options\YesNo</source_model>
					<comment>Automatically purge cache for CMS page whenever page is updated.</comment>
				</field>
			</group>
			<group
				id="cache_exclusion_patterns"
				translate="label"
				type="text"
				sortOrder="30"
				showInDefault="1"
				showInWebsite="1"
				showInStore="1" >
				<label>Cache Exclusion Patterns</label>
				<attribute type="expanded" >1</attribute>
				<field
					id="excluded_url_paths"
					translate="label"
					type="textarea"
					sortOrder="10"
					showInDefault="1"
					showInWebsite="1"
					showInStore="1" >
					<label>Excluded URL Paths</label>
					<comment><![CDATA[
						New line separated, url path must start with <b>/</b> and trailing <b>/</b> will be ignored
						<br>e.g. /contact_us
					]]></comment>
				</field>
				<field
					id="excluded_routes"
					translate="label"
					type="textarea"
					sortOrder="20"
					showInDefault="1"
					showInWebsite="1"
					showInStore="1" >
					<label>Excluded Routes</label>
					<comment><![CDATA[
						New line separated, left associative
						<br>e.g. route/module/controller/action
					]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>