<?xml version="1.0" ?>

<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd" >
	<default>
		<jetrails_varnish>
			<general_configuration>
				<version>1.1.11</version>
				<status>0</status>
				<debug>0</debug>
				<servers>127.0.0.1:80</servers>
			</general_configuration>
			<automatic_cache_purge>
				<product_save>1</product_save>
				<cms_page_save>1</cms_page_save>
				<category_save>1</category_save>
			</automatic_cache_purge>
			<cache_exclusion_patterns>
				<excluded_urls></excluded_urls>
				<excluded_routes></excluded_routes>
			</cache_exclusion_patterns>
		</jetrails_varnish>
	</default>
</config>
