<?xml version="1.0" ?>

<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd" >
	<event name="controller_action_predispatch" >
		<observer
			name="jetrails_varnish_excluder"
			instance="JetRails\Varnish\Observer\Excluder"
		/>
	</event>
    <event name="admin_system_config_changed_section_jetrails_varnish" >
        <observer
            name="jetrails_varnish_save_config"
            instance="JetRails\Varnish\Observer\Save\Config"
        />
    </event>
    <event name="catalog_product_save_after" >
        <observer
        	name="jetrails_varnish_save_product"
        	instance="JetRails\Varnish\Observer\Save\Product" 
        />
    </event>
    <event name="cms_page_prepare_save" >
    	<observer
    		name="jetrails_varnish_save_page"
    		instance="JetRails\Varnish\Observer\Save\Page"
    	/>
    </event>
</config>