<?xml version="1.0" ?>

<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd" >
	<system>
		<section id="system" >
			<group id="full_page_cache" translate="label" showInDefault="1" sortOrder="600" >
				<group id="varnish" translate="label" showInDefault="1" sortOrder="605" >
					<field id="export_custom_button_version4" translate="label" type="button" sortOrder="50" showInDefault="1" >
						<label>Export Custom Configuration</label>
						<frontend_model>JetRails\Varnish\Block\Adminhtml\Export\Varnish4</frontend_model>
						<depends>
							<field id="caching_application" >1</field>
						</depends>
					</field>
					<field id="export_custom_button_version5" type="button" sortOrder="55" showInDefault="1" >
						<frontend_model>JetRails\Varnish\Block\Adminhtml\Export\Varnish5</frontend_model>
						<depends>
							<field id="caching_application" >1</field>
						</depends>
					</field>
					<field id="export_custom_button_version6" type="button" sortOrder="60" showInDefault="1" >
						<frontend_model>JetRails\Varnish\Block\Adminhtml\Export\Varnish6</frontend_model>
						<depends>
							<field id="caching_application" >1</field>
						</depends>
					</field>
					<field id="enable_xkey" translate="label" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Use Xkey vmod</label>
						<comment><![CDATA[Varnish Xkey vmod is installed. See <a target="_blank" href="https://github.com/varnish/varnish-modules/blob/master/src/vmod_xkey.vcc">Varnish VMOD xkey</a>.]]></comment>
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
						<depends>
							<field id="caching_application">2</field>
						</depends>
					</field>
					<field id="use_soft_purging" type="select" translate="label comment" sortOrder="36" showInDefault="1">
						<label>Use soft purging</label>
						<comment>Use soft purging instead of hard purging. This requires Xkey vmod to be installed</comment>
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
						<depends>
							<field id="system/full_page_cache/varnish/enable_xkey">1</field>
						</depends>
					</field>
					<depends>
						<field id="caching_application" >2</field>
					</depends>
				</group>
			</group>
		</section>
	</system>
</config>
